<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>insert data</title>
</head>
<body>
  <h1>Add User</h1>
  <hr/>
  <form method="post">
    <fieldset>
      <legend>Enter User Data</legend>
      <table>
        <tr>
            <td><label>ID</label></td>
            <td><input type="text" id="id" /></td>
        </tr>  
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" user_name="usre_name" /></td>
        </tr>
        <tr>
            <td><label>E-Mail</label></td>
            <td><input type="text" email="email" /></td>
        </tr>
        <tr>
            <td><label>Phone Number</label></td>
            <td><input type="text" phone_number="phone_number" /></td>
        </tr>
        <tr>
            <td><label>PASSWORD</label></td>
            <td><input type="text" pw="pw" /></td>
        </tr>
        <tr>
            <td><label>BANK NUMBER</label></td>
            <td><input type="text" bank_number="bank_number" /></td>
        </tr>
        <tr>
            <td><label>BANK</label></td>
            <td><input type="text" bank="bank" /></td>
        </tr>
      </table>
      <input type="submit" value="Add It!">
    </fieldset>
  </form>
</body>
</html>